<div class="container">
    <h2>Card Game</h2>
    <p>Enter your nickname:</p>
    <input type="text" id="nickname" placeholder="Nickname" @bind="PlayerName">
    <p>Select an option:</p>
    <button @onclick="CreateRoom">Create Room</button>
    <button @onclick="JoinRoom">Join Room</button>
</div>