<div class="container">
    <PlayersList RoomName="@RoomName"></PlayersList>
    <div class="game-area">
        <div class="main-game"></div>
        <div class="player-cards"></div>
    </div>
</div>